{
  "presets": [
    [
      "next/babel",
      {
        "class-properties": {
          "loose": true
        }
      }
    ],
    "@zeit/next-typescript/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  },
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "plugins": [
          "styled-jsx-plugin-sass",
          "styled-jsx-plugin-postcss"
        ]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile"
      }
    ],
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
