{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ],
    "@zeit/next-typescript/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  },
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd-mobile"
      }
    ],
    [
      "transform-decorators-legacy"
    ],
    [
      "transform-class-properties"
    ]
  ]
}