@import './var';

* {
  margin: 0;
  padding: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

html, body {
  margin: auto;
  width: 100%;
  max-width: $max-width;
  height: 100%;
  position: relative;
}
.layout {
  padding-top: 45px;
}

#__next {
  max-width: $max-width;
  margin: auto;
  min-height: 100%;
}

.am-drawer.am-drawer-left {
  max-width: $max-width;
  margin: auto;
}

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.am-flexbox .am-flexbox-item {
  margin-left: 0;
}

table {
  width: 100%;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.am-tab-bar-bar .am-tab-bar-tab-title {
  font-size: 10px;
  margin-top: 4px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*定义滚动条轨道 内阴影+圆角*/
.index-match_list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
.index-match_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.am-button-primary {
  background: $theme-color;
}
