* {
  margin: 0;
  padding: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.am-flexbox .am-flexbox-item {
  margin-left: 0;
}

table {
  width: 100%;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.am-tab-bar-bar .am-tab-bar-tab-title {
  font-size: 10px;
  margin-top: 4px;
}