$bgColorFFF: #fff;
$bgColorF8: #f8f8f8;
$bgColorE8: #E8E8E8;

$link-color: #0F82FF;
$color-8: #8493A8;
$color-9: #999;
$color-6: #666;
$color-3: #333333;
$font-size: 14px;
$font-style: normal;

$border-width: 1px;
$border-color: #E8E8E8;
$border-style: solid;
$border: $border-width $border-style $border-color;

$baseSpace: 10px;

$border-radius-8: 8px;

$theme-color: #3A0B90;